*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000000;
    font-family: sans-serif;
    height: 100vh;

}
header{
    display: flex;
    justify-content: space-between;
    padding:20px;
    background-color:rgb(0, 0, 0);
    box-shadow: 1px 1px 8px black;
    
    
}
header h1{
    color:#444;
    text-transform: uppercase;
}
ul li{
    list-style-type:none;
}
ul li a{
    text-decoration: none;
    font-size:22px;
    font-weight: bold;
   

}
section{
    width: 800px;
    height: 400px;
    /* background: #fff; */
    margin-top: 10px;
    margin-left: 10px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    display: flex;

    flex-direction: column;
    align-items: center;
    border:none;
    padding-bottom: 40px;
    box-shadow: 1px 1px 8px #717D7E;

}
section h1{
    color: white;
    padding: 30px;
    margin-bottom: 30px;
    font-size: 35px;

}
section .link-container,.format-container,.button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 500px;
}
section .link-container, .format-container label{
    font-size: 20px;
    font-weight: bold;
    color:#A6ACAF ;
}
label{
    margin: 5px;
}

.main{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('background.webp');
    
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;

}
section .link-container input, .format-container select{
    height: 40px;
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
    border: 2px solid #666;
    font-size: 14px;
    border: none;
    box-shadow: 1px 1px 3px black;
}
input:hover{
    background-color:#f0f0f0;

}
select:hover{
    background-color:#f0f0f0;

}
section .button-container button{
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight:bolder;
    border: none;
    color: #fff;
    background-color:#1C2833  ;
    cursor: pointer;
    border: 0.05px solid #5D6D7E;
}
section .button-container button:hover{
    color:white;
    background:#090A0A  ;
}
@media only screen and (max-width:850px){
    section{
        width: 350px;
        height: 450px;
    }
    section .link-container,.format-container,.button-container{
        width: 300px;



    }

}
section h1{
    color: white;
    text-align: center;
    text-transform: capitalize;
}

header ul li a{
    font-size:35px
}



